h1 {
    text-align: center;
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.upperRow {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.upperRow div {
    background-color: black;
}
.lowerRow {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.lowerRow div {
    background-color: black;
}
#memoryWord {
    display: none;
}
.memoryImg {
    visibility: hidden;
}
img {
    width: 200px;
    height: 200px;
}
.userScoreBoard {
    text-align: center;
}
#userWins {
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#userAttempts {
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}